<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <title>{{ site_title }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="../css/animations.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../css/jquery.multiscroll.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../css/styles.css?{{ cacheBuster }}" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?{{ cacheBuster }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
  </head>
  <body class="is-home">
    <div id="barba-wrapper" class="wrapper">
      <div class="barba-container page-transition" data-namespace="denholm">
        <div class="page-transition__wrap">
          <div class="page-transition__logo"><a href="#" class="js-change-page js-logo denholm-logo is-active" data-page-name="home" data-page-trans="slide-in-from-bottom">denHolm</a></div>
          <div class="red-button back-to-home"><a href="../dh-styleguide/styleguide/landing.html"></a></div>
          <div class="page-transition__menu-mobile">
            <span  class="js-change-page js-logo back-home is-active" data-page-name="home" data-page-trans="slide-in-from-bottom"></span>
            <span class="menu js-toggle-menu">Menu</span>
          </div>
          <div class="page-transition__menu">
            <div class="page-transition__inner">
              <div class="page-transition__nav">
                <ul>
                <li class="left nav">
                  <span class="js-change-page" data-page-name="what" data-page-trans="slide-in-from-right">What?</span>
                </li>
                <li class="top nav">
                  <span class="js-change-page" data-page-name="objects" data-page-trans="slide-in-from-bottom">Objects</span>
                </li>
                <li class="right nav"><span class="js-change-page" data-page-name="commissions" data-page-trans="slide-in-from-left">Commissions</span></li>
                </ul>
              </div>
              <div class="page-transition__footer">
                <div class="container">
                  <ul class="page-transition__footer__inner">
                    <li><span class="js-change-page nav" data-page-name="enquiries" data-page-trans="slide-in-from-top">Enquiries</span></li>
                    <li class="instagram" ><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                  </ul>
                </div>
              </div>
              <div class="page-transition__link">
                <div class="red-button">
                  <a href="landing.html"></a>
                </div>
                <span>denHolm Sttudios</span>
              </div>
            </div>
          </div>
        </div>
        <div class="page-transition__content">
          <div class="screen">
            <div>
              <div class="page-transition__item denholm home" data-jquery-page-name="home">
                <div class="content-inner">
                {% include '../components/denholm-home.twig' %}
                </div>
              </div>
              <div class="page-transition__item commissions" data-jquery-page-name="commissions">
                <div class="content-inner">
                    {% include '../components/commissions.twig' %}
                </div>
              </div>
              <div class="page-transition__item objects" data-jquery-page-name="objects">
                <div class="content-inner">
                    {% include '../components/objects.twig' %}
                </div>
              </div>
              <div class="page-transition__item enquiries" data-jquery-page-name="enquiries">
                <div class="content-inner">
                    {% include '../components/enquiries.twig' %}
                </div>
              </div>
              <div class="page-transition__item what" data-jquery-page-name="what">
                <div class="content-inner">
                    {% include '../components/what.twig' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/lib/slick.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.page.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/barba.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/modernizr.custom.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.dlmenu.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/pagetransitions.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.easings.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.multiscroll.min.js?{{ cacheBuster }}"></script>
    <script src="../js/functions.js?{{ cacheBuster }}"></script>
    <script src="../js/nextprev.js?{{ cacheBuster }}"></script>
    <script src="../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
