<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">
    <title>{{ site_title }} - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="../css/animations.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../css/jquery.multiscroll.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../css/styles.css?{{ cacheBuster }}" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js?{{ cacheBuster }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.1/TweenMax.min.js"></script>
  </head>
  <body class="object-specific">
    <div id="barba-wrapper" class="wrapper">
      <div class="barba-container page-transition" data-namespace="object-specific">
        <div class="page-transition__wrap">
          <div class="page-transition__logo"><a href="../styleguide/denholm.html" class="denholm-logo">denHolm</a></div>
          <div class="page-transition__nav">
            <div class="js-change-page what nav" data-page-name="what" data-page-trans="slide-in-from-right">What?</div>
            <div class="js-change-page objects nav" data-page-name="objects" data-page-trans="slide-in-from-bottom">Objects</div>
            <div class="js-change-page commissions nav" data-page-name="commissions" data-page-trans="slide-in-from-left">Commissions</div>
          </div>
          <div class="page-transition__footer">
            <div class="container">
              <div class="page-transition__footer__inner">
                <div class="js-change-page nav" data-page-name="enquiries" data-page-trans="slide-in-from-top">Enquiries</div>
                <div class="instagram"><a href="https://www.instagram.com/" target="_blank">Instagram</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-transition__content">
          <div class="screen">
            <div>
              <div class="page-transition__item" data-jquery-page-name="object-specific">
                <div class="content-inner">
                {% include '../components/objects-specific-detail.twig' %}
                </div>
              </div>
              <div class="page-transition__item" data-jquery-page-name="commissions">
                <div class="content-inner">
                    {% include '../components/commissions.twig' %}
                </div>
              </div>
              <div class="page-transition__item" data-jquery-page-name="objects">
                <div class="content-inner">
                    {% include '../components/objects.twig' %}
                </div>
              </div>
              <div class="page-transition__item" data-jquery-page-name="enquiries">
                <div class="content-inner">
                    {% include '../components/enquiries.twig' %}
                </div>
              </div>
              <div class="page-transition__item" data-jquery-page-name="what">
                <div class="content-inner">
                    {% include '../components/what.twig' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/lib/slick.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.page.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/barba.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/modernizr.custom.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.dlmenu.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/pagetransitions.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.easings.min.js?{{ cacheBuster }}"></script>
    <script src="../js/lib/jquery.multiscroll.min.js?{{ cacheBuster }}"></script>
    <script src="../js/nextprev.js?{{ cacheBuster }}"></script>
    <script src="../js/script.js?{{ cacheBuster }}"></script>
  </body>
</html>
